.edit-profile-page {
    background-color: var(--bg-dark);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    overflow: hidden;
    background: radial-gradient(circle at center, #1e2530 0%, #15181c 100%);
}

.edit-profile-container {
    width: 100%;
    max-width: 450px;
    padding: 20px;
}


input, textarea, select {
    width: 100%;
    background: #00000033;
    border: 1px solid var(--border);
    border-radius: 12px;
    padding: 12px 12px 12px 42px;
    color: white;
    font-size: 1rem;
    transition: var(--transition);
}

.btn-edit-profile-submit {
    width: 100%;
    background: var(--primary);
    color: white;
    border: none;
    padding: 14px;
    border-radius: 12px;
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    transition: var(--transition);
    margin-top: 10px;
}
