<footer th:fragment="footer-fragment" class="main-footer" xmlns:th="http://www.thymeleaf.org">
    <div class="footer-container">
        <div class="footer-left">
            <div class="logo-box-sm"><i data-lucide="graduation-cap"></i></div>
            <span>ISEP Connect</span>
        </div>
        <nav class="footer-nav">
            <a href="#">Mentions légales</a>
            <a href="#">Confidentialité</a>
            <a href="#">Contact</a>
        </nav>
        <p class="footer-copy">© 2026 ISEP Alumni. Tous droits réservés.</p>
    </div>
    <script>lucide.createIcons();</script>
    <script th:src="@{/js/header.js}"></script>
</footer>