<header th:fragment="header-fragment" class="navbar" xmlns:th="http://www.thymeleaf.org">
    <link rel="icon" th:href="@{/img/favicon.svg}" />
    <script src="https://unpkg.com/lucide@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <div class="navbar-container">
        <a th:href="@{/}" class="navbar-logo">
            <div class="logo-box"><i data-lucide="graduation-cap"></i></div>
            <span>ISEP Connect</span>
        </a>

        <nav class="navbar-links">
            <a th:if="${isConnect != null}" th:href="@{/feed}">Fil d'actualité</a>
            <a  th:if="${isConnect != null}" th:href="@{/users}">Annuaire</a>
            <a th:if="${isConnect != null}" th:href="@{/messages}" class="notification-icon-wrapper">
                <span>Messages</span>
                <span id="unread-messages-badge" class="notification-badge" style="display: none;"></span>
            </a>
            <a th:if="${isConnect != null}" th:href="@{/projects}">Projets</a>
            <a th:if="${session.userRole == 'ADMIN'}" th:href="@{/admin/dashboard}" style="color:var(--primary); font-weight:600;">Administration</a>
            <a th:if="${isConnect != null}" th:href="@{/profil}">Mon Profil</a>
            <a th:if="${isConnect != null}" th:href="@{/profil/pending-requests}" class="notification-icon-wrapper">
                <span>Demandes</span>
                <span id="notification-badge" style="display: none;"></span>
            </a>
        </nav>

        <div class="navbar-actions">
            <div th:if="${isConnect == null}"><a th:href="@{/login}" class="btn-primary-header">Connexion</a></div>
            <div th:if="${isConnect != null}"><a th:href="@{/logout}" class="btn-primary-header">Déconnexion</a></div>
            <button class="menu-burger" onclick="toggleMobileMenu()">
                <i data-lucide="menu"></i>
            </button>
        </div>
    </div>

    <div class="mobile-menu" id="mobileMenu">
        <a th:if="${isConnect != null}" th:href="@{/feed}">Fil d'actualité</a>
        <a  th:if="${isConnect != null}" th:href="@{/users}">Annuaire</a>
        <a  th:if="${isConnect != null}" th:href="@{/messages}" class="notification-icon-wrapper">
            <span>Messages</span>
            <span id="unread-messages-badge-mobile" class="notification-badge" style="display: none;"></span>
        </a>
        <a  th:if="${isConnect != null}" th:href="@{/profil}">Mon Profil</a>
        <a th:if="${session.userRole == 'ADMIN'}" th:href="@{/admin/dashboard}" style="color:var(--primary); font-weight:600;">Administration</a>
        <div th:if="${isConnect == null}"><a th:href="@{/login}" class="btn-primary-header-mini">Connexion</a></div>
        <a th:if="${isConnect != null}" th:href="@{/profil/pending-requests}">Demandes</a>
    </div>
    
    <!-- Script for unread messages badge -->
    <script th:if="${isConnect != null}" th:src="@{/js/unread-messages.js}"></script>
</header>

