<header th:fragment="header-fragment" class="navbar" xmlns:th="http://www.thymeleaf.org">
    <div class="navbar-container">
        <a th:href="@{/}" class="navbar-logo">
            <div class="logo-box"><i data-lucide="graduation-cap"></i></div>
            <span>ISEP Connect</span>
        </a>

        <nav class="navbar-links">
            <a th:href="@{/accueil}">Accueil</a>
            <a th:href="@{/users}">Annuaire</a>
            <a th:href="@{/messages}">Messages</a>
            <a th:href="@{/profil}">Mon Profil</a>
        </nav>

        <div class="navbar-actions">
            <div th:if="${isConnect == null}"><a th:href="@{/login}" class="btn-primary-header">Connexion</a></div>
            <div th:if="${isConnect != null}"><a th:href="@{/logout}" class="btn-primary-header">Déconnexion</a></div>
            <button class="menu-burger" onclick="toggleMobileMenu()">
                <i data-lucide="menu"></i>
            </button>
        </div>
    </div>

    <div class="mobile-menu" id="mobileMenu">
        <a th:href="@{/accueil}">Accueil</a>
        <a th:href="@{/users}">Annuaire</a>
        <a th:href="@{/login}">Messages</a>
        <a th:href="@{/profil}">Mon Profil</a>
        <div th:if="${isConnect == null}"><a th:href="@{/login}" class="btn-primary-header-mini">Connexion</a></div>
        <div th:if="${isConnect != null}"><a th:href="@{/logout}" class="btn-primary-header-mini">Déconnexion</a></div>
    </div>
</header>

