<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Oublie de mot de passe - Email</title>

<link rel="stylesheet" th:href="@{/css/charteGraphique.css}">
<link rel="stylesheet" th:href="@{/css/header.css}">
<link rel="stylesheet" th:href="@{/css/login.css}">

<link
	href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap"
	rel="stylesheet">
<script src="https://unpkg.com/lucide@latest"></script>
</head>
<body>

	<div th:replace="~{fragments/header :: header-fragment}"></div>

	<div class="login-page">
		<main class="login-container">
			<div class="login-card glass-effect">

				<div class="login-header">
					<h2>Oublie de votre mot de passe</h2>
					<p class="subtitle">Indiquer votre mail</p>
				</div>

				<form th:action="@{/forgotpassword/email}" th:object="${user}" method="post"
					class="login-form">

					<div class="alert-error" th:if="${error}">
						<i data-lucide="alert-circle"></i> <span th:text="${error}"></span>
					</div>

					<div class="alert-information" th:if="${information}">
						<i data-lucide="alert-circle"></i> <span th:text="${information}"></span>
					</div>

					<div class="input-group">
						<label for="email">Email Institutionnel</label>
						<div class="input-wrapper">
							<i data-lucide="mail" class="input-icon"></i> <input id="email"
								type="email" th:field="*{email}" 
								placeholder="nom.prenom@eleve.isep.fr" required />
						</div>
					</div>

					<button type="submit" class="btn-login-submit">
						<span>Continuer</span> <i data-lucide="arrow-right"></i>
					</button>
				</form>

				<div class="login-footer">
					<a th:href="@{/}" class="back-home"> <i
						data-lucide="chevron-left"></i> Retour à l'accueil
					</a>
				</div>

			</div>
		</main>
	</div>

	<div th:replace="~{fragments/footer :: footer-fragment}"></div>

	<script>
    lucide.createIcons();
</script>
</body>
</html>