<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Événement</title>
<link rel="stylesheet" th:href="@{/css/charteGraphique.css}">
<link rel="stylesheet" th:href="@{/css/header.css}">
<link rel="stylesheet" th:href="@{/css/event.css}">
<script src="https://unpkg.com/lucide@latest"></script>
</head>

<body>
	<div th:replace="~{fragments/header :: header-fragment}"></div>
	<a th:if="${eventinfo.creator.id == isConnect}" id="btn-edit" class="btn-primary-header">Editer l'évenement</a>
	<a th:if="${eventinfo.creator.id != isConnect && attendee == null}" th:data-id="*{eventinfo.id}" id="btn-join-event" class="btn-primary-header">Rejoindre l'évenement</a>
	<p th:if="${eventinfo.creator.id != isConnect && attendee != null}" th:text="${attendee.status}"></p>
	<br>
	<a th:if="${eventinfo.creator.id != isConnect && attendee != null && attendee.status != 'DECLINED'}" th:data-id="*{eventinfo.id}" id="btn-quit-event" class="btn-primary-header">Quitter l'évenement</a>
	<br>
	<br>
	<h4 th:text="${eventinfo.name}"></h4>
	<p>Crée par <span th:text="${eventinfo.creator.lastName}"></span>  <span th:text="${eventinfo.creator.firstName}"> </span> le <span th:text="${eventinfo.eventDate}"></span></p>
	<p>
		Localisé à <span th:text="${eventinfo.location}"></span>
	</p>

	<p>
		Visibilité <span th:text="${eventinfo.visibilityType}"></span>
	</p>

	<p>
		Capacité : <span th:text="${eventinfo.capacity}"></span>
	</p>

	<p>
		Description : <span th:text="${eventinfo.description}"></span>
	</p>
	
	<div id="editEventModal">
		<div class="modal-card card">
			<div class="modal-header">
				<h3>Modifier un événement</h3>
				<button id=closeEventEditModal aria-label="Fermer">✕</button>
			</div>
			<div class="modal-body">
					<input id="eventId" th:field="*{eventinfo.id}" type="text" style="visibility: hidden;" />
					<div class="input-group">
						<label for="eventName">Nom événement</label>
						<div class="input-wrapper">
							<input id="eventName" type="text"  th:field="*{eventinfo.name}"
								placeholder="Nom de l'événement" required />
						</div>
					</div>
					<div class="input-group">
						<label for="eventDate">Date de l'événement</label>
						<div class="input-wrapper">
							<input id="eventDate" th:field="*{eventinfo.eventDate}" type="datetime-local"
								 placeholder="Date de l'événement"
								required />
						</div>
					</div>
					<div class="input-group">
						<label for="eventLocation">Emplacement de l'événement</label>
						<div class="input-wrapper">
							<input id="eventLocation" type="text" th:field="*{eventinfo.location}"
								placeholder="Emplacement de l'événement" required />
						</div>
					</div>

					<div class="input-group">
						<label for="eventVisibility">Visibilité</label> <select
							id="eventVisibility" class="custom-select" th:field="*{eventinfo.visibilityType}">
							<option value="PUBLIC">Public</option>
							<option value="FRIENDS">Amis</option>
							<option value="PRIVATE">Privé</option>
						</select>
					</div>

					<div class="input-group">
						<label for="eventDescription">Description de l'événement</label>
						<div class="input-wrapper">
							<input id="eventDescription" type="text" th:field="*{eventinfo.description}"
								placeholder="Description de l'événement"
								required />
						</div>
					</div>

					<div class="modal-footer">
						<button id="btn-event-submit" class="btn-event-submit" >Sauvegarder</button>
					</div>

			</div>

		</div>
	</div>

	<div th:replace="~{fragments/footer :: footer-fragment}"></div>

	<script th:src="@{/js/header.js}"></script>
	<script th:src="@{/js/event.js}"></script>
	<script>lucide.createIcons();</script>
</body>
</html>