<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="project-head">
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/project.css}">
</head>
<body>

<div th:fragment="projects-fragment" class="projects-container">
    <h1>Gestion des Projets</h1>
    <button id="btn-create-project" class="btn-primary-header">Créer un projet</button>

    <div id="user-projects" class="projects-list">
        <article th:each="project : ${projects}" class="project-card card">
            <h3 th:text="${project.name}">Nom du Projet</h3>
            <p class="description" th:text="${project.description}">Description...</p>
            <span class="visibility" th:text="${project.visibilityType}">PUBLIC</span>

            <div class="actions">
                <button th:if="${project.creator.id.toString() == currentUserId}"
                        class="btn-small btn-edit"
                        th:attr="onclick='editProject(\'' + ${project.id} + '\')'">Éditer</button>
                <button th:if="${project.creator.id.toString() != currentUserId}"
                        class="btn-small btn-leave"
                        th:attr="onclick='leaveProject(\'' + ${project.id} + '\')'">Quitter</button>
            </div>
        </article>
    </div>

    <div id="public-projects" class="projects-list">
        <article th:each="project : ${publicProjects}"
                 th:if="${project.creator.id.toString() != currentUserId}"
                 class="project-card card">
            <h3 th:text="${project.name}">Projet Public</h3>
            <p th:text="${project.description}">Description...</p>
            <div class="actions">
                <button class="btn-small btn-members"
                        th:attr="onclick='openJoinModal(\'' + ${project.id} + '\', \'' + ${project.name} + '\')'">Rejoindre</button>
            </div>
        </article>
    </div>
</div>

<div th:fragment="project-modals-fragment">
    <div id="createProjectModal" class="modal">...</div>
    <div id="editProjectModal" class="modal">...</div>
    <div id="joinProjectModal" class="modal">...</div>
</div>

</body>
</html>