<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projets publics</title>
    <link rel="stylesheet" th:href="@{/css/charteGraphique.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/project.css}">
    <script src="https://unpkg.com/lucide@latest"></script>
</head>

<body>
    <div th:replace="~{fragments/header :: header-fragment}"></div>
    
    <div class="projects-container">
        <h1>Projets publics de <span id="user-name"></span></h1>
        
        <section class="projects-section">
            <div id="user-public-projects" class="projects-list">
                <!-- Projects will be loaded here -->
            </div>
        </section>
    </div>

    <script th:src="@{/js/userPublicProjects.js}"></script>
    <script>
        // Pass viewed user ID to JavaScript
        window.viewedUserId = '[[${userId}]]';
        window.userName = '[[${userName}]]';
        
        // Initialize lucide icons
        if (typeof lucide !== 'undefined') {
            lucide.createIcons();
        }
    </script>
    <div th:replace="~{fragments/footer :: footer-fragment}"></div>
</body>
</html>
